.check-out {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: #f9f9f9; */
}

.form-table-container {
  display: flex;
  margin-left: 80px;
  margin-top: 10px;
  padding: 10px;
  flex: 1;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
}

.form-container {
  flex: 1;
  /* background-color: #fff; */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin-right: 20px;
}

.form-container h2 {
  font-size: 25px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  font-size: 16px;
}

.form-group button {
  padding: 10px;
  border: none;
  background-color: rgb(38, 211, 25);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
}

.form-group button:hover {
  background-color: #11930d;
}
.form-table-container{
  display: flex;
  flex-direction: row;
  align-items: start;

}

.table-container2 h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;

}

.transactions-table2 {
  width: 100%;
  border-collapse: collapse;
  
}

.transactions-table2 th,
.transactions-table2 td {
  padding: 15px 20px;
  text-align: center;
  
}

.transactions-table2 th {
  background-color: #dddaf9;
  font-weight: bold;
  color: #333;
  font-size: 20px;
}

.transactions-table2 td {
  font-size: 20px;
  color: rgb(55, 55, 55);
  background-color: #ffe4e4;
}

.transactions-table2 tr:nth-child(even) {
  background-color: #ffe4e4;
}

.btn3{
  border: none;
  background-color: rgb(253, 68, 68);
  border-radius: 20px;
  width: 35px;
  height: 35px;
  color: white;
  font-size: 20px;
}